
@font-face{
    font-family: Source Han Sans CN Light ;
    src: url("./siyuanheiti_ttrar/SourceHanSansLight.otf");
}
@font-face{
    font-family: Source Han Sans CN Light Light;
    src: url("./siyuanheiti_ttrar/SourceHanSans-ExtraLight.otf");
}
@font-face{
    font-family: Source Han Sans CN Heavy;
    src: url("./siyuanheiti_ttrar/SourceHanSans-Heavy.otf");
}
@font-face{
    font-family: Source Han Sans CN Bold-Bold;
    src: url("./siyuanheiti_ttrar/SourceHanSans-Bold.otf");
}
@font-face{
    font-family: Source Han Sans CN Medium;
    src: url("./siyuanheiti_ttrar/SourceHanSans-Medium.otf");
}
@font-face{
    font-family: Source Han Sans CN;
    src: url("./siyuanheiti_ttrar/SourceHanSans-Normal.otf");
}
@font-face{
    font-family: Source Han Sans CN Regular;
    src: url("./siyuanheiti_ttrar/SourceHanSans-Regular.otf");
}


body{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    color: #333333;
    font-weight: 300;
    background-color: #fff;
    scrollbar-width: none;
    　overflow-y: scroll;
　　scrollbar-color: transparent transparent;
　　scrollbar-track-color: transparent;
　　-ms-scrollbar-track-color: transparent;
}

body::-webkit-scrollbar {
    display: none !important;
  }
