
@font-face{
    font-family: Source Han Sans CN Light ;
    src: url("./sans/Light.otf");
}
@font-face{
    font-family: Source Han Sans CN Light Light;
    src: url("./sans/Extralight.ttf");
}
@font-face{
    font-family: Source Han Sans CN Heavy;
    src: url("./sans/heavy.ttf");
}
@font-face{
    font-family: Source Han Sans CN Bold-Bold;
    src: url("./sans/bold.ttf");
}
@font-face{
    font-family: Source Han Sans CN Medium;
    src: url("./sans/meidum.ttf");
}
@font-face{
    font-family: Source Han Sans CN;
    src: url("./sans/Normal.TTF");
}
@font-face{
    font-family: Source Han Sans CN Regular;
    src: url("./sans/regular.ttf");
}



body{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    color: #333333;
    font-weight: 300;
    background-color: #fff;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none !important;
  }
